
.wrapper{
    height: 100%;
}

.jumbo{
display: flex;
flex-wrap: wrap;
margin: auto;
text-align: center;
width: 75%;

}

.header{
    width: 100%;
    border: solid;
}

.paragraph{
    border: solid;
    width: 100%;
}

.footer{
    display: flex;
    justify-content: center;
}